.header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: aqua;
    cursor: pointer;
}
.headerEl{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}
.headerEl:hover{
    background-color: aliceblue;
}
.headerLogin{
    position: absolute;
    right: 0;
}