/*path:hover {*/
/*    fill: black;*/
/*    border: 1px solid #FFF5ED;*/
/*}*/

/*circle:hover {*/
/*    fill: black;*/
/*}*/

.passes {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 12px;
    border: none;
    width: 5vw;
}

.resultPass {
    background-color: chartreuse;
}

.unResultPass {
    background-color: crimson;
}
.allPassStatisticsButton {
    position: relative;
    margin-top: 10vh;
}
