.HeaderDescription {
    display: flex;
    background-color: rgb(73, 61, 78);
    padding-bottom: 10vh;

    padding-left: 10% !important;
    padding-right: 10% !important;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.Text {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;

    color: #91686F;
}

.Main {
    font-size: 55px;
    line-height: 64px;
    display: flex;
    align-items: center;

    color: #FFACBB;
}

.Past {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #91686F;
}

@media (max-width: 1024px) {
    .HeaderDescription {
        display: none;
    }
}