.playerDisable{
    background-color: aquamarine;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    color: black;
}
.playerDisable:hover{
    background-color: aliceblue;
}
.wrapper{
    display: flex;
    flex-direction: column;
}