::-webkit-scrollbar {
    display: none;
    background-color: transparent;
}

.ForgetPass {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.White {
    border: 3px solid #FFFFFF !important;
    color: #FFFFFF !important;
}